<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Marketplace User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Marketplace User</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--<li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/items}">Item Pages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/users}">User Pages</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row col-md-10">
        <h2>List of Transactions</h2>
    </div>
    <a href="/newsales">Enter New Sale</a>
    <br/><br/>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <!--<th>ID Item</th>-->
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sale : ${listSale}">
            <td th:text="${sale.id}">ID</td>
            <!--<td th:text="${sale.iditem}">ID Item</td>-->
            <td th:text="${sale.item.name}">Item Name</td>
            <td th:text="${sale.quantity}">Quantity</td>
            <td th:text="${sale.subtotal}">Subtotal</td>
            <td>
                <a th:href="@{/editsales/__${sale.id}__}">Edit</a>

                <!--<a th:href="@{/showitem/__${sale.iditem}__}" th:target="_blank">Show Item</a>
                &nbsp;&nbsp;&nbsp;

                &nbsp;&nbsp;&nbsp;
                <a th:href="@{/deletesales/__${sale.id}__}">Delete</a>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>